div {
    display: inline-block;
    position: relative;
    z-index : 1;
 }
 /*div img { border: 1px red solid; display: block; }*/
 div + img { position: absolute; z-index: 1; top: 20px; right: 25px; }

/*outer iamge*/
.badge{
    height: 200px;

}

/*inner image*/
.ambassador{
    height: 150px;
    position: absolute;
}

.container{
    float: right;
    z-index:1000 !important;
    position:fixed;
    top: 1em;
    right: 1em;
}